# Ignore everything by default
*

# Allow these directories
!Scripts/
!Input_Files/

# Allow all contents inside them
!Scripts/**
!Input_Files/**

# Allow these important files
!README.md
!.gitignore
!LICENSE
